# ---- R specific ----
.Rproj.user/
.Rhistory
.RData
.Ruserdata
DeSurv-paper.Rproj

# ---- targets package cache ----
/_targets/           # main cache directory
stores/             # if you use multiple stores (see tar_config_set)
no_cv/
batch_params/
logs/
store_PKG_VERSION=project_to_zero_GIT_BRANCH=no_cv/
store_PKG_VERSION=project_to_zero_std_beta_GIT_BRANCH=no_cv/
streamlined/
temp_analyses/
# ---- results / generated data ----
results/
reports/
*.rds

# ---- logs ----
logs/
*.out
*.err

# ---- OS junk ----
.DS_Store
Thumbs.db
